@page
@model Webshop.UI.Pages.ReceiptModel
@{
}
<h2>
    SHOPPING FUN - RECEIPT
</h2>
<div>
    <h3>Date: @Model.Receipt.DateTime </h3>
    <p>CreditCard: @Model.Receipt.CreditCard.CreditCardNum</p>
    <p>Customer: @Model.Customer.FullName </p>
</div>
<h3>List of items:</h3>
<div>
    @foreach (var product in Model.Receipt.Order.Products)
    {
<tbody>
    <tr>
      <td class="item">
         <div class="">
         <h3 class="card-title">@product.ProductName | Pris: @product.CurrentPrice kr</h3>
      </td>
   </tr>
</tbody>
}
<h4>Total amount is @Model.TotalSum kr</h4>
</div> 
<div>
    <form>
       <a asp-page="Receipt" asp-route-orderid="@Model.TotalSum" class="btn btn-primary">PAY</a>

    </form>
</div>