@page
@model Webshop.UI.Pages.ShoppingcartModel
@{
}
<div class="card-deck">
    @foreach (var products in Model.CartList)
    {
        <div class="row">

            <div class="col">
                <div class="card" style="max-width: 18rem; max-height: 45vh;">
                    <img src="@products.Image" class="card-img-top" style="max-height:20vh" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@products.ProductName</h5>
                        <p class="card-text">@products.ProductDescription </p>
                        <h5 class="card-title">Pris: @products.CurrentPrice kr</h5>
                     
                    </div>
                </div>
                <br>
            </div>
            <br>
        </div>
    }
  
</div> 
<div class="container-fluid">
         <h3>Choose user to proceed with the order</h3>

    @foreach (var customer in Model.CustomerList)
    {
<tbody>
    <tr>
      <td class="item">
         <div class="">
         <h5 class="card-title">@customer.FullName</h5>
         <a asp-page="Order" asp-route-customerId="@customer.CustomerId" class="btn btn-primary">Choose</a>
      </td>
   </tr>
</tbody>
}

</div>
@*<div class="container-fluid">
         <h3>Choose user to proceed with the order</h3>
   <form asp-for="/Order" asp-page-handler="User" asp-page="Order" asp-route-id="@Model.Customers.CustomerId">
      
          <select name="Getuser" id="User" onchange="this.form.submit()">
          <option>Username</option>
          <option value="@Model.Customers.CustomerId:1"> Lulu</option>
          <option value="@Model.Customers.CustomerId:2"> Franciscus</option>
          <option value="@Model.Customers.CustomerId:3"> Johannes</option>
          <option value="@Model.Customers.CustomerId:4"> Jesost</option>
          <option value="@Model.Customers.CustomerId:5"> Maria</option>
          </select>
      </a>
   </form>
</div>*@