@page
@model Webshop.UI.Pages.UserPageModel
@{
}
<div>

<table>
    <h2>UserInfo for @Model.Customer.FullName</h2>
    <div class="container-fluid">
         <h3>Here are your receipts</h3>

         @foreach(var receipt in @Model.Receipts)
   {
   
  <div class="list-group">
        <a asp-page="Receiptdetails" asp-route-ReceiptId="@receipt.ReceiptId" class="list-group-item list-group-item-action active">ReceiptId: @receipt.ReceiptId </a>
       
</div>
     
   }
  
       <h3>And here are your orders</h3>
            @foreach (var order in @Model.Orders)
            {
                <div class="list-group">
        <a asp-page="OrderDetails" asp-route-OrderId="@order.OrderId" class="list-group-item list-group-item-action active">OrderID: @order.OrderId </a>
       
</div>
            }

</table>
</div>